<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EscuelaSimple.Datos.Ayudantes.Envoltorios.Properties.Settings.LocalDB"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Pablo\Source\Repos\EscuelaSimple\Datos\db.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>